#TradeInsert Application Configurations goes here


#default LookAndFeel name should be mentioned. valid values are {Metal, Nimbus, CDE/Motif, Windows, Windows Classic}
#if not mentioned or if the mentioned LookAndFeel is not available then default is "Windows"
LoadCustomLookAndFeel=YES
DefaultLookAndFeelName=Windows