<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<dbConnections>
	<dbConnection name="DEV_GAV_AG_trade">
	<databaseDriverClassName value="net.sourceforge.jtds.jdbc.Driver"/>
    <databaseConnectionURL value="jdbc:jtds:sqlserver://172.16.170.34:1440;DatabaseName=DEV_GAV_AG_trade"/>
    <databaseUserName value="ictssrvr"/>
    <databasePassword value="ictssrvr"/>
	</dbConnection>
	
	<dbConnection name="PROD_gavilon_trade_jun30">
    <databaseDriverClassName value="net.sourceforge.jtds.jdbc.Driver"/>
    <databaseConnectionURL value="jdbc:jtds:sqlserver://172.16.170.34:1440;DatabaseName=PROD_gavilon_trade_jun30"/>
    <databaseUserName value="ictssrvr"/>
    <databasePassword value="ictssrvr"/>
	</dbConnection>
</dbConnections>